<h1 <style="text-align:center" />Finish and comment your last deal</h1>

<%= render 'form', transaction_record: @transaction_record %>

<button class="back-buttom"><%= link_to 'Back', transaction_records_path %></button>
