
<h1>Bank of Time</h1>
<h2>A time bank is a service exchange system by time.</h2>

<p>In it the unit of exchange is not the usual money but a measure of time,
   for example the work per hour. It is a system of exchange of services for
   services or favors for favors. It offers the advantage of fostering social
   relations and equality between different economic strata. The use of this
   type of economy is proposed to solve various problems present in the market
   economy, as complementary economies or alternative markets. Currently these
    projects can be enhanced with the support of information technology.

  Imagine, for example, that certain individuals, not in need of money, are in
  need of time, and are willing to request a loan in terms of time. In this way,
  as in traditional financial systems, there would be a transfer (in this case of time),
  from surplus units to deficit units, in exchange for a certain profitability of course,
  paid in monetary or temporary units, depending on the case.
</p>
